.my-component {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s;
    max-width: 600px;
    margin: auto;
  }
  
  .my-component:hover {
    transform: scale(1.05);
  }
  
  .image {
    width: 100%;
    border-radius: 10px;
    margin: 20px 0;
  }
  .button {
    background-color: #007bff; /* สีพื้นหลัง */
    color: white; /* สีตัวอักษร */
    border: none;
    border-radius: 25px; /* มุมโค้ง */
    padding: 10px 20px; /* ขนาดปุ่ม */
    font-size: 16px; /* ขนาดตัวอักษร */
    cursor: pointer; /* แสดงเป็นมือเมื่อ hover */
    transition: background-color 0.3s, transform 0.3s;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* เงา */
    margin-top: 20px; /* เว้นระยะด้านบน */
  }
  
  .button:hover {
    background-color: #0056b3; 
    transform: translateY(-3px); 
  }