body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #e9ecef;
}

.navbar {
  background-color: #007bff;
  padding: 1rem;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.navbar ul {
  list-style-type: none;
  padding: 0;
  display: flex;
  justify-content: center;
}

.navbar li {
  margin: 0 15px;
}

.navbar a {
  color: white;
  text-decoration: none;
  font-weight: bold;
  transition: color 0.3s;
}

.navbar a:hover {
  color: #ffdd57; /* เปลี่ยนสีเมื่อ hover */
}

.content {
  text-align: center;
  margin-top: 50px;
}